{% load static %}
<html>
    <head>
        <meta charset="UTF-8" lang="pt-BR">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Login</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleFloatBox.css' %}">
    </head>

    <body>
		<div id="loginStruct">
            <h1>Aposta feita com sucesso!</h1>
            
            <a href="/">Clique aqui para voltar para a página inicial.</a>
			<footer>
				<p>Feito por <a href="https://github.com/stackOvercrow/">Gabriel dos Reis</a></p>
				<p>Outubro de 2020</p>
			</footer>
		</div>
    </body>
</html>